In [2]:
import pandas as pd
import numpy as np

# Data ingestion

In [7]:
my_data = pd.read_csv('E:\\my_complete_fsdsm_project\\notebooks\\data\\train.csv')

In [8]:
my_data.head()

   id  carat        cut color clarity  depth  table     x     y     z  price
0   0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

# Exploratory data analysis

In [9]:
my_data.shape

(193573, 11)

In [10]:
pd.DataFrame(my_data.isnull().sum().sort_values(ascending=False))

         0
id       0
carat    0
cut      0
color    0
clarity  0
depth    0
table    0
x        0
y        0
z        0
price    0

In [11]:
my_data = my_data.drop(columns=['id'], axis=1)

In [12]:
my_data.head()

   carat        cut color clarity  depth  table     x     y     z  price
0   1.52    Premium     F     VS2   62.2   58.0  7.27  7.33  4.55  13619
1   2.03  Very Good     J     SI2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70      Ideal     G     VS1   61.2   57.0  5.69  5.73  3.50   2772
3   0.32      Ideal     G     VS1   61.6   56.0  4.38  4.41  2.71    666
4   1.70    Premium     G     VS2   62.6   59.0  7.65  7.61  4.77  14453

In [13]:
cat_cols = my_data.select_dtypes(include='object').columns
num_cols = my_data.select_dtypes(exclude='object').columns

In [19]:
my_data['clarity'].value_counts()

clarity
SI1     53272
VS2     48027
VS1     30669
SI2     30484
VVS2    15762
VVS1    10628
IF       4219
I1        512
Name: count, dtype: int64

In [21]:
cut_category = {'Fair':1, 'Good':2, 'Very Good':3, 'Premium':4, 'Ideal':5}
color_category = {'D':1, 'E':2, 'F':3, 'G':4, 'H':5, 'I':6, 'J':7}
clarity_category = {'I1':1, 'SI2':2,'SI1':3, 'VS2':4, 'VS1':5, 'VVS2':6, 'VVS1':7,'IF':8}

In [22]:
my_data['cut'] = my_data['cut'].map(cut_category)
my_data['color'] = my_data['color'].map(color_category)
my_data['clarity'] = my_data['clarity'].map(clarity_category)

In [23]:
my_data.head()

   carat  cut  color  clarity  depth  table     x     y     z  price
0   1.52    4      3        4   62.2   58.0  7.27  7.33  4.55  13619
1   2.03    3      7        2   62.0   58.0  8.06  8.12  5.05  13387
2   0.70    5      4        5   61.2   57.0  5.69  5.73  3.50   2772
3   0.32    5      4        5   61.6   56.0  4.38  4.41  2.71    666
4   1.70    4      4        4   62.6   59.0  7.65  7.61  4.77  14453